# Proposals Module Configuration
VITE_GAS_URL=https://script.google.com/macros/s/YOUR_SCRIPT_ID/exec
VITE_SPREADSHEET_ID=1dXuNar4t3aemQSk5LnPOXxcB7DAqqEzraWEFASa2r4g
VITE_MATERIALS_SPREADSHEET_ID=1FeQGoFst-DWfLemnXI_0T5xQzMsYdSMC2Xj9Cjs5C1U
